html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-snap-align: end;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  
  .section{
    height: auto;
  }
}
